<!doctype html>



<html>

    <head>

        <%- include header-links.ejs %>
        <link rel='stylesheet' href="/public/css/game.css" />
        <title>Partie en local</title>

    </head>



    <body>


        <h1>Jusqu'à la mort</h1>

        <button class="btn" id="surrender-btn"><%= __("Abandonner") %></button>

        <div class="espace_jeu d-flex flex-column flex-sm-row">

            <table id='grille'>

                <tbody></tbody>

            </table>

            <div id='panel-interfaces' class="col-12 col-sm-3 d-flex flex-row flex-sm-column justify-content-around">

                <%- include("player-interface",{val:"1"}) %>
                <%- include("player-interface",{val:"2"}) %>


            </div>

        </div>

        <%- include("script-links", {hostname: hostname}) %>
        <%- include game-scripts.ejs %>


    </body>





</html>
